*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    

}

.container{
    margin: auto;
    display: flex;
    width: 50vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}  

#formulario input{
    border: none;
    outline: none;
    border-bottom: 1px solid #17c0eb;
    margin-right: 8px;
}

#formulario button{
    background-color:#17c0eb;
    border: none;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
    box-shadow: 3px 3px 4px #4b4b4b;
}

#formulario button:hover{
    background-color: #67e6dc;
    transform: scale(1.1);
}   

.riscado {
    text-decoration: line-through;
    
}

li{
    cursor: pointer;
}